#joinRoomContent {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#txtRoomID, #joinSubmit {
    width: 200px;
}

.err {
    padding: 20px;
    background-color: #f44336;
    border-color: #A80000;
    border: 3px;
    border-radius: 5px;
    color: white;
}