#video_area {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#chat_area {
    float: right;
    height: 100%;
    flex: 1;
    border-left: #000000 2px solid;
}

.main-preview-player {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#chat {
    height: 87%;
    border-bottom: #000000 2px solid;
    overflow-y: auto;
}

#chat_input {
    border-top: #000000 2px solid;
}

#chatText {
    margin: 5px;
    padding: 5px;
    height: 80%;
    width: 80%;
}

#chatSendBtn {
    height: 29px;
    padding: 5px;
    margin: 5px;
    width: 10%;
}

#btnSourceModal {
    height: 80%;
    padding: 5px;
    margin: 5px;
}

#videoPlayer {
    width: 82%;
    height: 100%;
    display: flex;
    float: left;
    border-right: #000000 2px solid;
}

#pageContent {
    height: 90vh;
}

.matchFlex {
    display: flex;
}